<form [formGroup]="myform" (ngSubmit)="submitform()" class="reactive-form">
  <h1>Reactive Form</h1>
  <div>
    <input formControlName="name" type="text" name="name" placeholder="enter name">
    <ng-container *ngIf="myform.get('name')?.touched">
      <span *ngIf="myform.get('name')?.errors?.['required']">
        Please fill this name field
      </span>
    </ng-container>
  </div>
  <div>
    <input formControlName="email" type="email" name="email" placeholder="Enter email">
    <ng-container *ngIf="myform.get('email')?.touched">
      <span *ngIf="myform.get('email')?.errors?.['required']">
        Please fill this email field
      </span>
    </ng-container>
  </div>
  <div>
    <input formControlName="password" [type]="myform.get('passwordvisibility')?.value === 'show' ? 'text' : 'password'"
      name="password" placeholder="Enter password">
    <ng-container *ngIf="myform.get('password')?.touched">
      <span *ngIf="myform.get('password')?.errors?.['required']">
        Please fill this password field
      </span>
      <br>
      <span *ngIf="myform.get('password')?.errors?.['minlength']">
        Password should be at least {{ myform.get('password')?.errors?.['minlength']?.requiredLength }} characters
      </span>
      <span *ngIf="myform.get('password')?.errors?.['pattern']">
        Password should only contain alphabets
      </span>
    </ng-container>
  </div>
  <div>
    <input formControlName="DOB" type="date" name="DOB" placeholder="Enter DOB">
  </div>
  <div>
    <label>ShowPassword
      <input type="radio" value="show" formControlName="passwordvisibility">
    </label>
    <label>HidePassword
      <input type="radio" value="hide" formControlName="passwordvisibility">
    </label>
  </div>
  <div>
    <div formArrayName="address">
      <div class="add1" *ngFor="let x of getAddressFormArray().controls; let i = index">
        <div [formGroupName]="i">
          <div></div>
          <input formControlName="doorno" name="doorno" placeholder="enter doorno" type="text">
          <input formControlName="street" name="street" placeholder="enter street" type="text">
        </div>
        <button type="button" (click)="addForm()">add</button>
        <button type="button" (click)="removeForm(i)">remove</button>
      </div>
    </div>
    <div (click)="submitform()">
      <button [disabled]="myform.invalid">submit{{ myform.invalid }}
      </button>
    </div>
  </div>
  <div class="error">
    {{ myform.get('name')?.errors | json }}
  </div>
  <div class="error">
    {{ myform.get('email')?.errors | json }}
  </div>
  <div class="error">
    {{ myform.get('password')?.errors | json }}
  </div>
  <div class="error">
    {{ myform.get('passwordvisibility')?.errors | json }}
  </div>
</form>

<!--*************** Template Driven Form **************-->

<form #templateForm="ngForm" (ngSubmit)="submitdata()" class="template-form">
  <h1>Template Driven Form</h1>
  <div>
    <input type="text" #nameCtrl="ngModel" placeholder="Enter name" name="FirstName" [(ngModel)]="mydata.FirstName"
      required>
    <ng-container *ngIf="nameCtrl.touched">
      <span *ngIf="nameCtrl.errors?.['required']">
        please enter the name field
      </span>
    </ng-container>
  </div>
  <div>
    <input [type]="show? 'text':'password'" #pwdctl="ngModel" placeholder="Enter password1 " name="password1"
      [(ngModel)]="mydata.password1" required minlength="6" pattern="[a-zA-Z]*">
    <ng-container *ngIf="pwdctl.touched">
      <span *ngIf="pwdctl.errors?.['required']">
        please fill the password1
      </span> <br>
      <span *ngIf="pwdctl.errors?.['minlength']">
        name must be 6 character
      </span> <br>
      <span *ngIf="pwdctl.errors?.['pattern']">
        name must be alphapets
      </span>
    </ng-container>
  </div>
  <div (click)=" password()">
    <label>ShowPassword
      <input type="radio" value="show" name="pwd">
    </label>
    <label>HidePassword
      <input type="radio" value="hide" name="pwd">
    </label>
  </div>
  <div>
    <input type="tel" placeholder="Enter MobileNumber" name="PhoneNumber" [(ngModel)]="mydata.PhoneNumber">
  </div>
  <div *ngFor="let skill of mydata.skill; let i = index">
    <input type="text" [name]="'skills' + i" [(ngModel)]="mydata.skill[i].writing">
    <button type="button" (click)="addSkill()">Add Input</button>
    <ng-container *ngIf="i!=0">
      <button type="button" (click)="removeSkill(i)">removeskill</button>
    </ng-container>
  </div>
  <div>
    <button>submit
    </button>
  </div>
  <div>
    {{ mydata | json }}
  </div>
</form>
